nav { box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22); }

h1, h2, h3 {
  font-family: 'Courier';
  display: inline;
  padding: 0px;
}

h1 { font-size: 1.1em; }
h2 { font-size: 0.9em; }
h3 { font-size: 0.9em; }

div#message { display: none; }

div#bigCont {
  display: flex;
  width: auto;
  margin: auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

div#map {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  height: 400px;
  padding: 0px 4px;
  border: 1px solid black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div#dirPanelContainer {
  display: none;
  align-items: center;
}

div#directionsPanel {
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 300px;
  height: 400px;
  font-family: 'Courier';
  font-size: 1em;
}

div#locSearch {
  width: 300px;
  margin: auto;
  padding: 5px;
}

div#infoBox {
  min-width: 140px;
  margin-top: 10px;
  padding: 6px;
  width: 100%;
  height: auto;
}

div#loader {
  flex: auto;
  margin: auto;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes lds-dual-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.lds-dual-ring {
  position: relative;
  margin: auto;
}
.lds-dual-ring div {
  margin: auto;
  position: absolute;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #5a1714 transparent #5a1714 transparent;
  -webkit-animation: lds-dual-ring 5s linear infinite;
  animation: lds-dual-ring 5s linear infinite;
}
.lds-dual-ring div:nth-child(2) {
  width: 140px;
  height: 140px;
  top: 30px;
  left: 30px;
  border-color: transparent #bc2412 transparent #bc2412;
  -webkit-animation: lds-dual-ring_reverse 5s linear infinite;
  animation: lds-dual-ring_reverse 5s linear infinite;
}
.lds-double-ring {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
